<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="text-center text-secondary"><%= @post.title %>:</h1>

    <p class="text-center jumbotron">
      <%= @post.body %> <br>
      <strong>Created by: </strong> <%= @post.user.email.split('@')[0]%>
    </p>





<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-success" %> |
<%= link_to 'Back', posts_path, class: "btn-primary"%>
</div>